{% extends "layout.html" %}

{% block content %}

<div class="table-responsive">

    <!--Category asset listing-->
    {% if error_message %}
    <br><font color="red">{{error_message}}</font>
    {% endif %}


    {% if content and content|length >= 1 %}

    {% if current_user.admin %}
    {% for current_content in content %}
    {% include 'browse_listing_admin.html' %}
    {% endfor %}
    {% else %}
    {% for current_content in content %}
    {% include 'browse_listing.html' %}
    {% endfor %}
    {% endif %}

    {% else %}

    Your search '{{ prev_search_term }}' did not match any items.

    {% endif %}

</div>

{% endblock %}