{% extends "layout.html" %}

{% block content %}

<div class="table-responsive">


    <!--Category asset listing-->
    {% if error_message %}
    <br>
    <font color="red">{{error_message}}</font>
    {% endif %}

    {% set category_not_empty = content and content != [] %}

    {% if current_user.admin %}

    {% for current_content in content %}
    {% include 'browse_listing_admin.html' %}
    {% endfor %}

    {% else %}


    {% if category_not_empty %}

    {% for current_content in content %}
    {% include 'browse_listing.html' %}
    {% endfor %}

    {% else %}
    Nothing to see here.
    {% endif %}

    {% endif %}


</div>

{% endblock %}